*.swp
*.dylib
*.so
*~
.DS_Store

bin/
build*
doc/
modules/

cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile

Doxyfile
Session.vim
tags

android/bin
android/build.xml
android/gen
android/libs
android/obj
android/config.cmake
android/res/raw/
android/assets
!android/assets/conf/example.conf

android/local.properties
android/proguard-project.txt
android/project.properties
