*.swp
*~
*.so
*.dylib
*.DS_Store
*.ycm_extra_conf.py*

core

build*
modules/

cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Doxyfile
Makefile

android/bin
android/gen
android/libs
android/obj
android/res/raw/
android/assets/
android/assets/conf/

android/build.xml
android/config.cmake
android/local.properties
android/proguard-project.txt
android/project.properties
!android/assets/conf/example.conf
