[submodule "libbvs"]
	path = libbvs
	url = ssh://git.hyve.org:119/libbvs.git
[submodule "bvsd"]
	path = bvsd
	url = ssh://git.hyve.org:119/bvsd.git
[submodule "modules/bvsCapture"]
	path = modules/bvsCapture
	url = ssh://git.hyve.org/bvsCapture.git
[submodule "modules/bvsCalibration"]
	path = modules/bvsCalibration
	url = ssh://git.hyve.org/bvsCalibration.git
