[submodule "libbvs"]
	path = libbvs
	#url = ssh://git.hyve.org:119/libbvs.git
	url = git@i14gitlab.anthropomatik.kit.edu:bvs_libbvs.git
[submodule "bvsd"]
	path = bvsd
	#url = ssh://git.hyve.org:119/bvsd.git
	url = git@i14gitlab.anthropomatik.kit.edu:bvs_bvsd.git
[submodule "modules/bvsModules"]
	path = modules/bvsModules
	#url = ssh://git.hyve.org:119/bvsModules.git
	url = git@i14gitlab.anthropomatik.kit.edu:bvs_bvsmodules.git
[submodule "modules/camGrasshopper"]
	path = modules/camGrasshopper
	#url = ssh://git.hyve.org:119/camGrasshopper.git
	url = git@i14gitlab.anthropomatik.kit.edu:bvs_camgrasshopper.git
[submodule "modules/ImageSequencePlayer"]
	path = modules/ImageSequencePlayer
	url = git@i14gitlab.anthropomatik.kit.edu:bvs_imagesequenceplayer.git
